<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dlrtn.socialnetworkservice.business.user.mapper.UserMapper">

    <select id="existsByUsername" resultType="_boolean" parameterType="string">
        SELECT EXISTS(SELECT *
        FROM USER
        WHERE username = #{username}
        LIMIT 1)
    </select>

    <insert id="save" parameterType="User">
        INSERT INTO USER (
            USERNAME,
            PASSWORD,
            EMAIL,
            USER_TYPE,
            CREATED_AT,
            UPDATED_AT)
        values (
            #{username},
            #{password},
            #{email},
            #{userType},
            #{createdAt},
            #{updatedAt})
    </insert>

    <select id="findByUsername" resultType="User" parameterType="User">
        SELECT *
        FROM USER
        WHERE username = #{username}
    </select>

</mapper>